@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* Add to your global CSS or Tailwind config if not using Tailwind's default classes */
.navLinks {
  /* Initial state for mobile menu hidden */
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.navLinks.open {
  /* State for mobile menu visible */
  transform: translateX(0);
}

/* Adjust responsive design */


.listBefore::before,
.beforeListIcon::before{
  content: "";
  background-image: url("../assets/images/liBefore.svg");
  position: absolute;
  left: -40px;
  width: 40px;
  height: 40px;
background-position: left;
top: -6px;
background-size: cover;
}

.beforeListIcon::before{
  left:-10px;
}

.heroSectionHeight{
  min-height: calc(100vh - 230px);
}

.container-fluid{
  max-width: 1440px;
  margin: auto;
}
/* .hoverZoom */
.hoverZoom:hover img{
transform: scale(1.1);
}


.imgSlider img{
  width: 145px !important;
  max-width: 145px !important;
  min-width: 145px !important;
  min-height: 145px !important;
  max-height: 145px !important;
  height: 145px !important;
}


.btnPrimary,
.btnSecondary, .btnSecondary:hover{
  background-color: #7550AB;
  color: #fff;
  font-size: 24px;
  border-radius: 14px;
  display: inline-block;
  text-align: center;
  padding: 16px 36px;
  text-decoration: none;
  border: 1px solid #7550AB;
  transition: all .3s ease-in;
  font-size: 20px;
  font-weight: 400;
}
.btnSecondary{
  border-color:#282828 ;
  color: #000;
  background-color: transparent;
}
.btnPrimary:hover{
  background-color: #dcc9f847;
  color: #7550AB;
}
@media (min-width: 768px) {
  .navLinks {
    /* Show the menu by default on larger screens */
    transform: translateX(0);
  }
}
